<div class="container">
  <header class="header">
    <div class="form-field">
      <label>Level name: </label>
      <input
        placeholder="Your level name: "
        type="text"
        [(ngModel)]="levelName"
        (dblclick)="randomizeLevelName()"
      />
    </div>
    <div class="form-field">
      <label>Author name: </label>
      <input
        placeholder="Author (you): "
        type="text"
        [(ngModel)]="authorName"
        (dblclick)="randomizeAuthorName()"
      />
    </div>
    <button class="header__randomize" (click)="randomizeNames()">
      Randomize
    </button>
  </header>

  <main class="editor-container">

  </main>

  <footer class="footer">
    @for (brush of brushes; track brush.name) {
      <div [ngClass]="{
        brush: true,
        chosen: brushPointer === $index,
      }" (click)="brushPointer = $index">
        <small>
          {{ brush.name }}
        </small>
        @if (brush.icon !== undefined) {
          <img
            [alt]="brush.name"
            [ngSrc]="brush.icon"
            width="40"
            height="40"
          />
        }
      </div>
    }
  </footer>
</div>
