<app-cursor [cursorIcon]="brushIcon" />

<div class="container">
  <header class="header">
    <div class="form-field">
      <label>Level name: </label>
      <input
        placeholder="Your level name: "
        type="text"
        [(ngModel)]="levelName"
        (dblclick)="randomizeLevelName()"
      />
    </div>
    <div class="form-field">
      <label>Author name: </label>
      <input
        placeholder="Author (you): "
        type="text"
        [(ngModel)]="authorName"
        (dblclick)="randomizeAuthorName()"
      />
    </div>
    <button class="header__randomize" (click)="randomizeNames()">
      Randomize
    </button>
  </header>

  <main class="editor-container">
    <aside class="level-size">
      <div class="form-field">
        <label>Level width: </label>
        <input
          placeholder="Level width: "
          type="number"
          [min]="minSize"
          [max]="maxSize"
          [(ngModel)]="levelWidth"
        />
      </div>
      <div class="form-field">
        <label>Level height: </label>
        <input
          placeholder="Level height: "
          type="number"
          [min]="minSize"
          [max]="maxSize"
          [(ngModel)]="levelHeight"
        />
      </div>
      <div class="form-field">
        <label>Scale: </label>
        <input
          placeholder="Scale: "
          type="number"
          [min]="minScale"
          [max]="maxScale"
          [(ngModel)]="scale"
        />
      </div>
    </aside>
    @if (isLevelSizeValid) {
      <div
        class="field"
        [style]="{
          display: 'grid',
          'grid-template-rows': 'repeat(' + levelHeight + ', 1fr)',
          'grid-template-columns': 'repeat(' + levelWidth + ', 1fr)',
          gap: '2px',
        }"
      >
        @for (_ of [].constructor(levelHeight); let row = $index; track row) {
          @for (
            _ of [].constructor(levelWidth);
            let column = $index;
            track column
          ) {
            <div
              class="cell"
              [style]="cellSizeStyle"
              (click)="handleBrushClick(row, column)"
            >
              @if (getIconAt(row, column) !== null) {
                <img
                  [src]="getIconAt(row, column)!"
                  [width]="scale"
                  [height]="scale"
                />
              }
            </div>
          }
        }
      </div>
    } @else {
      <div class="warning">
        <img priority width="150" height="150" ngSrc="/warning-sign.png" />
        <h1>{{ levelSizeErrorMessage }}</h1>
      </div>
    }
  </main>

  <footer class="footer">
    @for (brush of brushes; track brush.name) {
      <div
        [ngClass]="{
          brush: true,
          chosen: brushPointer === $index,
        }"
        (click)="brushPointer = $index"
      >
        <small>
          {{ brush.name }}
        </small>
        @if (brush.icon !== undefined) {
          <img [alt]="brush.name" [ngSrc]="brush.icon" width="40" height="40" />
        }
      </div>
    }
  </footer>
</div>
