<main class="container">
  <nav class="container__inner">
    <img priority
      class="logo"
      ngSrc="/logo.png"
      width="150"
      height="150"
      alt="Logo"
    />
    <ul class="links-list">
      @for (item of links; track $index) {
        <li
          [ngClass]="{ active: activeLinkIndex === $index }"
          (mouseenter)="setActiveLinkIndex($index)"
        >
          @if (item.external) {
            <a [href]="item.href" (click)="openExternalLink($event)">{{
              item.title
            }}</a>
          } @else {
            <a [routerLink]="item.href">{{ item.title }}</a>
          }
        </li>
      }
    </ul>
    <aside 
      class="link-info"
      [@slideIn]="linkInfoHidden ? 'hidden' : 'active'"
    >
      <div class="link-info__header">
        @if (links[activeLinkIndex].icon) {
          <img
            class="link-info__icon"
            [ngSrc]="links[activeLinkIndex].icon!"
            width="30"
            height="30"
            alt="Link icon"
          />
        }
        <h1 class="link-info__title">
          {{ links[activeLinkIndex].title }}
        </h1>
      </div>
      <p class="link-info__description">
        {{ links[activeLinkIndex].description }}
      </p>
    </aside>
    <small class="guidance">
      You can use your arrow keys and enter
    </small>
  </nav>
</main>
