.container {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
  box-shadow: var(--shadow);
  padding: 0.75em;
  display: flex;
  align-items: center;
  gap: 0.25em;
  .header__input {
    font-family: inherit;
    font-size: 1.2em;
    padding: 0.5em;
    outline: none;
    box-shadow: var(--shadow);
  }
  .header__button {
    cursor: pointer;
    border: none;
    font-size: 1.2em;
    padding: 0.5em;
    background-color: var(--primary-light);
    transition: 0.2s background-color ease;
    &:hover {
      background-color: var(--primary-main);
    }
  }
}
