* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --primary-light: #e3f2fd;
  --primary-main: #90caf9;
  --success: #a2cf6e;
  --warning: #ffc107;
  --error: #f6685e;
}

body {
  font-family: sans-serif;
}
